In [3]:
import pandas as pd

In [4]:
train = pd.read_csv('./Data/train.csv')

In [5]:
train.isnull().sum()

id        0
text      0
author    0
dtype: int64

In [6]:
train.head(20)

         id                                               text author
0   id26305  This process, however, afforded me no means of...    EAP
1   id17569  It never once occurred to me that the fumbling...    HPL
2   id11008  In his left hand was a gold snuff box, from wh...    EAP
3   id27763  How lovely is spring As we looked from Windsor...    MWS
4   id12958  Finding nothing else, not even gold, the Super...    HPL
5   id22965  A youth passed in solitude, my best years spen...    MWS
6   id09674  The astronomer, perhaps, at this point, took r...    EAP
7   id13515        The surcingle hung in ribands from my body.    EAP
8   id19322  I knew that you could not say to yourself 'ste...    EAP
9   id00912  I confess that neither the structure of langua...    MWS
10  id16737  He shall find that I can feel my injuries; he ...    MWS
11  id16607  Here we barricaded ourselves, and, for the pre...    EAP
12  id19764  Herbert West needed fresh bodies because his l...    HPL
13  id18886  The farm like grounds extended back very deepl...    HPL
14  id17189   But a glance will show the fallacy of this idea.    EAP
15  id12799  He had escaped me, and I must commence a destr...    MWS
16  id08441  To these speeches they gave, of course, their ...    EAP
17  id13117  Her native sprightliness needed no undue excit...    MWS
18  id14862  I even went so far as to speak of a slightly h...    EAP
19  id20836  His facial aspect, too, was remarkable for its...    HPL

In [7]:
train.shape

(19579, 3)

In [8]:
train['text'][6]

'The astronomer, perhaps, at this point, took refuge in the suggestion of non luminosity; and here analogy was suddenly let fall.'

In [9]:
test = pd.read_csv('./Data/test.csv')

In [10]:
test.isnull().sum()

id      0
text    0
dtype: int64

In [11]:
test.head()

        id                                               text
0  id02310  Still, as I urged our leaving Ireland with suc...
1  id24541  If a fire wanted fanning, it could readily be ...
2  id00134  And when they had broken down the frail door t...
3  id27757  While I was thinking how I should possibly man...
4  id04081  I am not sure to what limit his knowledge may ...

In [12]:
sample = pd.read_csv('./Data/sample_submission.csv')

In [13]:
sample.head()

        id       EAP       HPL       MWS
0  id02310  0.403494  0.287808  0.308698
1  id24541  0.403494  0.287808  0.308698
2  id00134  0.403494  0.287808  0.308698
3  id27757  0.403494  0.287808  0.308698
4  id04081  0.403494  0.287808  0.308698

In [1]:
from stanfordcorenlp import StanfordCoreNLP

In [2]:
nlp = StanfordCoreNLP(r'JavaLibraries\stanford-corenlp-full-2018-02-27')

FileNotFoundError: [WinError 2] The system cannot find the file specified